@import 'tailwindcss';
@import '@fortawesome/fontawesome-free/css/all.css';
@import 'tom-select/dist/css/tom-select.css';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source "../**/*.blade.php";
@source "../**/*.js";
@source "../**/*.vue";

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
}

@font-face {
    font-family: 'Archivo';
    src: url('../fonts/Archivo.ttf');         
    font-weight: normal;
    font-style: normal;
}

/* Usar a fonte no projeto */
body, .breadcrumb-estrutura{
    font-family: 'Archivo';
    background-color: #F5F5F6 !important;
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: #F5F5F6 !important;
        color: black !important;
    }
}

.swal2-container {
    position: fixed !important;
    z-index: 1050 !important; /* Ajuste o z-index se necessário */
}

nav, aside{
    background-color: #FFFFFF !important;        
}

.azul{
    background-color: #43BEDA !important;   
}

.preto{
    background-color: black !important;   
}

.card-dashboard{
    border-radius: 30px;
    color: white;
}

.card-dashboard .titulo{    
    width: 100px;
    font-size: 150%;
}

.card-dashboard .numero_absoluto{
    font-size: 200%;
}

.card-dashboard .estatisticas_load{
    font-size: 110%;
}

.completo{
    width: 100px;
    background-color: #228B22;
    color: white;
    border-radius: 10px;
    padding: 1px;
    text-align: center;
}

.andamento{
    width: 100px;
    background-color: 	#FFD700;
    color: white;    
    border-radius: 10px;
    padding: 2px;
    text-align: center;
}
